# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# IDEs
.idea

# Environment settings
## Ignore all except examples
env/*
!env/*.example.js
!env/*.example.json
!env/*.default.js
!env/*.default.json

# Distributables
# TODO Remove this rule when nearing public-ready state
dist